{{page-title "PwaDemo"}}
<div class="container theme-showcase" role="main">

  {{!-- Main jumbotron for a primary marketing message or call to action --}}
  <div class="jumbotron">
    <h1>D-Pad Example</h1>
    <p>Dpad Selection and Input</p>
  </div>


  <div class="page-header">
    <h1>Buttons</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class=" btn dpad-focusable btn-danger" tabindex="0" type="button" onclick={{this.increment}}>Button</button>
      <button class=" btn dpad-focusable" tabindex="0" type="button" onclick={{this.increment}}>Button</button>
      <button class=" btn dpad-focusable btn-danger" tabindex="0" type="button" onclick={{this.increment}}>Button</button>
      <button class=" btn dpad-focusable" tabindex="0" type="button" onclick={{this.increment}}>Button</button>
    </div>
    <div class="col-md-6">
      <p>presses: {{this.pressCount}}</p>
      <div class="row">
        <div class="col-md-12">
          <button id="c0" class=" btn dpad-focusable btn-danger" tabindex="0" type="button" onclick={{this.clear0}}>0: Clear</button>
          <label>
            <Input id="c1" class="form-control dpad-focusable" tabindex=0" placeholder="1: Employee-ID" @value={{this.inputContent0}}></Input>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button id="c3" class=" btn dpad-focusable btn-danger" tabindex="0" type="button" onclick={{this.clear1}}>3: Clear</button>
          <label>
            <Input id="c4" class="form-control dpad-focusable" tabindex=0" placeholder="4: Barcode" @value={{this.inputContent1}}></Input>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}